{% extends 'webapp/base.html' %}
{% load django_bootstrap5 %}

{% block title %}パスワードリセット | TLES{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>パスワードリセット</h1>
            {% if user.is_authenticated %}
            {% include "account/snipppets/already_logged_in.html" %}
            {% endif %}

            <p>パスワードリセット用メールを送信します。</p>

            <form method="post" action="{% url 'account_reset_password'%}">
                {% csrf_token %}

                <div class="mb-4 col-4">
                    {% bootstrap_form form %}
                </div>

                <button type="submit" class="btn btn-primary">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}