{% extends 'webapp/base.html' %}
{% load static %}
{% block title %}チケット売り上げ | TLES{% endblock %}
{% block content %}
    <h2>チケット売り上げ</h2>
    <!-- フィルターボタン -->
    <div class="filter-options">
        <form method="get" action="{% url 'webapp:day_sales' %}">
            <label for="filter">Filter:</label>
            <select name="filter" id="filter">
                <option value="all" {% if filter_option == 'all' %}selected{% endif %}>All</option>
                <option value="same_dates" {% if filter_option == 'same_dates' %}selected{% endif %}>result only</option>
            </select>
                <button type="submit">Apply</button>
        </form>
    </div>
    {% if graph_paths %}
        <div class="image-gallery">
            {% for path in graph_paths %}
                <div class="image-item image-bar">
                    <img src="{{ path }}" alt="Day_Sales Graph">
                    <a>{{ path }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No day_dales available.</p>
    {% endif %}
{% endblock %}