{% extends 'webapp/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}スポーツ実施頻度 | TLES{% endblock %}
{% block content %}
    <h1 class="text-primary">スポーツ実施頻度</h1>
    <!-- フィルターボタン -->
    <div class="filter-options">
        <form method="get" action="{% url 'webapp:play_sports' %}">
            <label for="filter">Filter:</label>
            <select name="filter" id="filter">
                <option value="all" {% if filter_option == 'all' %}selected{% endif %}>All</option>
                <option value="same_dates" {% if filter_option == 'same_dates' %}selected{% endif %}>result only</option>
            </select>
                <button type="submit">Apply</button>
        </form>
    </div>
    {% if graph_paths %}
        <div class="image-gallery">
            {% for path in graph_paths %}
                <div class="image-item image-pie">
                    <img src="{{ path }}" alt="play_sports Graph">
                    <a>{{ path|basename }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No play_sports graphs available.</p>
    {% endif %}
{% endblock %}